<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Create a new list
        </h1>


        <input #listTitleInput type="text" class="input has-background-light is-medium" placeholder="Enter title">
        <br>
        <br>
        <div class="buttons is-right">
            <div class="button is-danger has-text-white is-medium" routerLink="/">Cancel</div>
            <div class="button is-primary has-text-white is-medium" (click)="createList(listTitleInput.value)">Create</div>
        </div>
    </div>
</div>